@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&display=swap');
    
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: #20293A;
}

.wrapper {
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;

    border-left: 1px solid red;
    border-right: 1px solid red;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 60%;
    }
}