.stats {
    margin-bottom: 1.7em;


    img {
        width: 9em;
        height: auto;

        border-radius: 10px;
    }

}

.pfpContainer {
    margin-top: -3em;
    padding: 10px;

    width: fit-content;

    background-color: #20293A;
    border-radius: 10px;
}

.statInfo {
    display: grid;
    gap: 0.7rem;

    div:first-child {
        margin-top: 0.7rem;
    }

    div {
        width: fit-content;
        height: 4rem;

        padding: 0.5rem 1.5rem;

        display: flex;
        align-items: center;

        background-color: #111629;
        border-radius: 10px;
    }
}

.label {
    color: #4A5567;
    border-right: 1px solid #4A5567;
    padding: 1rem 5.4rem 1rem 0;
    width: 86px;
}

.stat {
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
    color: #CDD5E0;
}

@media screen and (min-width: 450px) {
    .stats {
        display: flex;
        gap: 1.5em;
    }
}

@media screen and (min-width: 768px) {
    .statInfo {
        margin-top: 0.7rem;

        display: grid;
        grid-template-columns: 1fr 1fr;

        div:first-child {
            margin-top: 0;
        }

        div:last-child {
            white-space: nowrap;
            grid-column: span 2;
            max-height: 4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .stats {
        gap: 1em;
    }

    .statInfo {
        display: flex;
        gap: 1.8rem;
    }
}

@media screen and (min-width: 1280px) { 
    .stats {
        gap: 2em;

        img {
            width: 10em;
        }
    }

    .stat {
        margin-left: 1.2rem;
    }
}